/result
/target
# produced by cargo-bisect-rustc
target-bisector-*/
.idea/
flamegraph.svg
perf.data
perf.data.old
heaptrack.*
tsrs_keys*.json
priv/
_build/
crates/bindings/ts_elixir/deps/
crates/bindings/ts_python/python/tailscale/*.so
*.exe
*.dll
*.lib
tailscale.h
